.section-buscador {
    form {
        width: 100%;
        height: 50px;
        max-width: 400px;
        position: relative;
        overflow: hidden;
        margin: 1em;
        .text-busqueda {
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
            color: $color-primario;
        }
        input {
            width: 100%;
            height: 100%;
            background: none;
            color: $color-primario;
            padding-top: 20px;
            border: none;
            outline: 0px;
            &:focus+.label-busqueda {
                &:after {
                    transform: translateX(0%);
                }
                .placeholder-busqueda {
                    transform: translateY(250%);
                    font-size: 14px;
                    color: $color-secuntario;
                }
            }
            &:valid+.label-busqueda {
                &:after {
                    transform: translateX(0%);
                }
                .placeholder-busqueda {
                    transform: translateY(250%);
                    font-size: 14px;
                    color: $color-secuntario;
                }
            }
            
        }
        .label-busqueda {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid $color-primario;
            .placeholder-busqueda {
                position: absolute;
                bottom: 3px;
                left: 0;
                transition: all 0.3s ease; 
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 100%;
                border-bottom: 3px solid $color-secuntario;
                transform: translateX(-100%);
                transition: all 0.3s ease;   
            }
      

        }
       
        @media (min-width:480px) and (max-width:819px) {
                max-width: 800px;
        }

        @media (min-width:200px) and (max-width:479px) {
                max-width: 800px;
        
        }

    }
    @media (min-width:480px) and (max-width:819px) { 
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-grow: 1;
            flex-wrap: wrap;    
    }
    @media (min-width:200px) and (max-width:479px) {
            display: flex;
            flex-direction: column;     
    }
}


