:root {
    --color-primario: rgb(255, 0, 0);
    --color-secuntario: rgb(0, 0, 0);
    --color-acento: rgb(255, 255, 255);
    --font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------- */
/* ESTILADOS PARA PASAR A SASS!!! */
/* --------------------------------------------------------------------- */

/* HEADER */
.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: auto;
    /* padding: 0; */
}

.logo {
    background-color: red;
    /* verificar el color en la documentacion */
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Bangers', cursive; */
    font-size: 2.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.imagen-header {
    width: 100%;
    height: 100%;
    /* display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); */
}

/* --------------------------------------------------------------------- */
/* FIN - ESTILADOS PARA PASAR A SASS!!! */
/* --------------------------------------------------------------------- */

/* FOOTER */
.container-footer {
    background-color: var(--color-secuntario);
    font-family: var(--font-family);
    font-size: 1.5em;
    padding: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-left: 1em;
}

.i-style {
    color: var(--color-primario);
    font-size: 1em;
}

/* BUSCADOR */

.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin: 1em;

}

.form input {
    width: 100%;
    height: 100%;
    background: none;
    color: var(--color-primario);
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.form .label-busqueda {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--color-primario);
    ;
}

.form .label-busqueda:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--color-secuntario);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-busqueda {
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    color: var(--color-primario);
}

.form input:focus+.label-busqueda .text-busqueda,
.form input:valid+.label-busqueda .text-busqueda {
    transform: translateY(-150%);
    font-size: 14px;
    color: var(--color-secuntario);

}

.form input:focus+.label-busqueda:after,
.form input:valid+.label-busqueda:after {
    transform: translateX(0%);
}

.placeholder-busqueda {
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus+.label-busqueda .placeholder-busqueda,
.form input:valid+.label-busqueda .placeholder-busqueda {
    transform: translateY(250%);
    font-size: 14px;
    color: var(--color-secuntario);

}

/* Media section buscador */
@media (min-width:480px) and (max-width:819px) {
    .form {
        max-width: 800px;
    }

    .section-buscador {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 1;
        flex-wrap: wrap;
    }
}

@media (min-width:200px) and (max-width:479px) {
    .form {
        max-width: 800px;
    }

    .section-buscador {
        display: flex;
        flex-direction: column;
    }
}