/* --------------------------------------------------------------------- */
/* ESTILADOS PARA PASAR A SASS!!! */
/* --------------------------------------------------------------------- */

/* HEADER */
.container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: auto;
    /* padding: 0; */
}

.logo {
    background-color: red;
    /* verificar el color en la documentacion */
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Bangers', cursive; */
    font-size: 2.8em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.imagen-header {
    width: 100%;
}

.img-banner{
    height: 450px;
}

/* --------------------------------------------------------------------- */
/* FIN - ESTILADOS PARA PASAR A SASS!!! */
/* --------------------------------------------------------------------- */